<%- include('./partials/header.ejs') %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">KaamKhoj</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/api/jobs">HamroBazzar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/upload">Upload Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/view">View Profile</a>
          </li>
        </ul>
        <% if (userAuthenticated) { %>
          <!-- Show logout button if user is authenticated -->
          <a href="/logout" class="btn btn-outline-danger">Logout</a>
        <% }  %>
          
      </div>
    </div>
  </nav>
  
<!-- Create a search box -->
<div style="margin-top: 80px;">
    <div class="container my-4">
        <form action="/api/search" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search jobs..." name="searchQuery">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    
    <!-- Display job cards -->
    <div class="container py-5 vh-100">
        <div class="mb-4">
            <h3>To Fetch Latest Data From HamroBazzar</h3>
            <a class="btn btn-primary" href="/kaamkhoj/jobs" onclick="showMessage()">Click here</a>
        </div>
    
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <% jobsData.forEach((element) => { %>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= element.name %>: <%= element.totalAvailableJobs %></h5>
                            <form action="/api/jobs" method="POST">
                                <input id="<%= element.name %>" style="display: none;" type="text" name="jobData" value='<%= JSON.stringify(element) %>'>
                                <button type="submit" class="btn btn-primary">See More</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>


<%- include('./partials/footer.ejs') %>

