<%- include('./partials/header.ejs')  %>
<div class="container py-5 vh-100">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% jobsData.forEach((element) => { %>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= element.name %>: <%= element.totalAvailableJobs %></h5>
                        <form action="/jobs" method="POST">
                            <input id="<%= element.name %>" style="display: none;" type="text" name="jobData" value='<%= JSON.stringify(element) %>'>
                            <button type="submit" class="btn btn-primary">See More</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<%- include('./partials/footer.ejs')  %>